.navnews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
  border: 1px solid rgb(230, 214, 214);
  opacity: .9;

  &__brand {
    &_img {
      height: 3.7rem;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    span {
      color: #20307B;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  &__navbar {
    width: 30%;
    height: 4rem;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      li {
        height: 100%;
        width: 100%;
        display: flex;
        a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          font-weight: bold;
          color: #E23530;
        }
        a:hover {
          border-bottom: 2px solid #E23530;
        }
      }
      
    }
  }
}

@media screen and (max-width: 1185px) {
    .navnews {
        &__navbar {
            width: 50%;
        }
    }
}

@media screen and (max-width: 992px) {
    .navnews {
        &__navbar {
            width: 50%;
        }
    }
}

@media screen and (max-width: 576px) {
    .navnews {
        position: fixed;
        &__navbar {
            background-color: #191919;
            position: absolute;
            width: 100%;
            height: 7rem;
            top: 3.75rem;
            right: 0;
            left: 0;
            ul {
                flex-direction: column;
                li {
                    a {
                        color:white
                    }
                }
            }
        }
      }
}