
$color: black;
$background: #fff;
.cardnews {
  background-color: $background;
  color: $color;
  width: auto;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow:  1px 1px 12px #ebebeb,
             -1px -1px 12px #ffffff;
  // &:hover {
  // border: 1px solid rgb(230, 214, 214);
  // box-shadow:  7px 7px 12px #ebebeb,
  //            -7px -7px 12px #ffffff;
  // }

  &__header {
    height: 4rem;
    h2, h3 {
      color: #20307B;
    }
  }
  &__body_img {
    position: relative;
    
    img {
      height: 100%;
      width: 100%;
    }
    span {
      background: rgb(235, 218, 218);
      border-right: 1px solid black;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      padding: .4rem;
      color: #000;
      position: absolute;
      bottom: 1rem;
      right: 0;
      font-size: .7rem;
    }
    .span_pacificoTV {
      background-color:rebeccapurple;
      color: #fff;
    }
  }
  
  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    
    i {
      font-size: 1.6rem;
      color: orangered;
      cursor: pointer;
      transition: all 500ms ease;
    }
    i:hover {
      transition: all 500ms ease;
      transform: scale(1.5);
    }
  }
}