aside {
  width: 100vw;
  opacity: .9;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  bottom: 0;
  z-index: 100;
  transition: 500ms all ease;
  &:hover {
    left: 0;
    transition: 500ms all ease;
  }
  .arrow {
    width: .5rem;
    height: 10rem;
    background-color: purple;
    position: absolute;
    right: -.1rem;
  }
}
.toggle {
  left: 0;
}
