.card {
  z-index: 10;
  min-width: 20rem;
  min-height: 25rem;
  transition: 1s ease all;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid rgb(230, 214, 214);
  box-shadow:  7px 7px 12px #ebebeb,
             -7px -7px 12px #ffffff;

}
.img img {
  width: 100%;
  height: 100%;
}
.product_name {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

h3 {
  font-size: 1.3rem;
  font-weight:700;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
}
.options .btn {
  padding: .7rem;
  width: 2.4rem;
  border: none;
  background: #3E70A1;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options .btn:hover {
 background: #345d86;
 color: black;
}
.options .btn-disabled {
  padding: .7rem;
  width: 2.4rem;
  border: none;
  background: rgba(61, 66, 61, 0.26);
  color: white;
  border-radius: 50%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}