input, textarea {
  background   : rgb(255, 255, 255);
  border: 1px solid rgb(196, 189, 189);
  height: 2.5rem;
  width: 80%;
  border-radius: 5px;
  outline: none;
}
input:focus, textarea:focus {
  background   : rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid rgb(56, 128, 23);
  height: 2.5rem;
  width: 80%;
  border-radius: 0px;
  outline: none;
}