.font-size-1-7 {
  font-size: 1.7rem;
}
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }

.pt-1 {
  padding-top: 1rem;
}
.p-1 {
  padding: 1rem;
}

.flex-default {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}

@for $i from 1 through 10 {
  .border-radius-#{$i} {
    border-radius: #{$i}rem;
  }
}

.bg-white { background-color: white; }
.bg-yellow { background-color: yellow; }
.bg-blue { background-color: blue; }
.bg-red { background-color: red; }
.bg-green { background-color: green; }
.bg-orange { background-color: orange; }
.bg-black { background-color: black; }
.bg-purple { background-color: purple; }
.bg-danger { background-color: #811b1b; }

.color-white { color: white; }
.color-black { color: black; }

img {
  width: 98%;
  height: 98%;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.text-align-center {
  text-align: center;
}

@for $i from 0 through 100 {
  .t-#{$i} {
    top: #{$i}rem;
  }
  .l-#{$i} {
    left: #{$i}rem;
  }
  .r-#{$i} {
    right: #{$i}rem;
  }
  .b-#{$i} {
    bottom: #{$i}rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.z-index-100 {
  z-index: 100;
}